AWT/Practical 6/B/P6B/P6B/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57839/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/P6B" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/P6B" minOccurs="0" name="GetDataResult" nillable="true" type="q1:FetchData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>